.service_single_content {
  position: relative;
  z-index: 1;
  padding: 30px 15px;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
  background: #fff;
  margin-bottom: 30px;
  border-radius: 15px
}

.service_single_content .service_icon i {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  display: block;
}
.service_single_content .service_icon{
  margin-bottom: 20px;
  min-height: 56px;
  position: relative;
  display: inline-block;
}

.service_single_content:hover .service_icon:after{
  right: 0px;
  top: 0px;
}
.service_single_content h6 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
}
.service_single_content p{
  margin-bottom: 0
}
.bold{
  font-weight: 600 !important
}
.bolder{
  font-weight: 700 !important
}
.w-text{
  color: #fff !important
}
.b-text{
  color: #333 !important
}
.service_single_content.feto{
  background: #4c08bc;
  padding: 86px 15px 30px;
  border-radius: 15px;
  margin-top: 50px;
  position: relative;
}
.service_single_content.feto .service_icon{
  display: inline-block;
  position: absolute;
  top: -50px;
  left: 30px;
  box-shadow: -3px 5px 18px rgba(0, 0, 0, 0.29);
}
.service_single_content.feto .service_icon:after{
  display: none;
}
.service_single_content.feto h6{
  color: #fff;
  font-weight: bold;
  font-size: 20px
}
.service_single_content.feto p{
  color: rgba(255,255,255,.7)
}
/* ##### 6.0 CTA Area CSS ##### */

.call_to_action_area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px !important;
}

.cta-content h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.cta-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.cta-content-area {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(72, 52, 212, 0.95);
  background: -webkit-linear-gradient(to right, rgba(72, 52, 212, 0.95), rgba(52, 31, 151, 0.95));
  background: -webkit-linear-gradient(left, rgba(72, 52, 212, 0.95), rgba(52, 31, 151, 0.95));
  background: linear-gradient(to right, rgba(72, 52, 212, 0.95), rgba(52, 31, 151, 0.95));
}
.mb-bg{
  background-color: #192057 !important;
  position: absolute;
  left: 0;
}